**2022年度 東京成徳大学 特別講座 資料**<br>
**東京工科大学コンピュータサイエンス学部**<br>
**福西広晃**

----

**演習問題を解く際は、必要に応じてセルを増やして頂いて構いません**

----

**必要に応じで以下を実行してください**

**japanize-matplotlibインストール**

In [ ]:
pip install japanize-matplotlib

**Googleドライブにアクセス**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

----

# 演習問題1
変数num1が`1`または`4`の場合はnum1に2を足し、`2`または`7`の場合はnum1に3を引き、`5`または`9`の場合はnum1に4を掛け、`3`の場合はnum1を`2`で割り、それ以外の場合は何もしないプログラムを作成してみよう。num1の初期値は7とする。

# 演習問題2
- num2という変数に代入された数値によって以下の表示になるプログラムを作成してみよう。num2の初期値は7とする。
  - 2の倍数だが、3の倍数でないの場合は、「2の倍数」と表示
  - 3の倍数だが、2の倍数でないの場合は、「3の倍数」と表示
  - 3の倍数、かつ、2の倍数であるの場合は、「2の倍数かつ3の倍数」と表示
  - それ以外は、「2の倍数でも3の倍数でもない」と表示
  <br>
  ヒント：Xの倍数の判定する場合、数値をXで割って余りが0ならXの倍数となる
- num2の値をいろいろ変化させて、試してみよう

# 演習問題3
- チケットの価格は以下のように設定されている。
  - 18歳未満の男は1000円
  - 18歳未満の女は800円
  - それ以外は2000円<br>
- 年齢と性別によって価格を表示するプログラムを作成してみよう。年齢を表す変数を`nenrei`、性別を表す変数を`seibetu`とする。20歳男性の料金を表示してみよう。

---

# 演習問題4
1000から5000までの整数の中で、5の倍数と7の倍数の整数の合計を計算してみよう。合計を表す変数は`total`とする。最後に合計を表示してみよう。

# 演習問題5
初期投資が1000000円で、金融商品を30年間運用したとする。1-5年目は年利3.5%、6-15年目は年利1.7%、16-27年目は年利2.4%、28-30年目は年利2.7%で運用したとして、30年後にはいくらになるかを計算してみよう。合計を表す変数は`total`とする。最後に初期投資から何倍になったかを表示してみよう。

# 演習課題6

以下のテストの点数を含むリスト`scores1`がある。降順で並び替えて、上から5人目の点数を表示してみよう。

In [ ]:
score1 = [80, 64, 85, 79, 52, 91, 82, 74, 85, 66, 73, 68, 80, 58, 78, 91]

# 演習問題7
以下のテストの点数を含むリスト`scores`がある。最初に成績判定用のリスト`judgements`を要素0個で作成した後、90点以上なら`S`、80点以上なら`A`、70点以上なら`B`、60点以上なら`C`、60点未満なら`D`の判定結果を追加してみよう。`リスト.append(値)`を使って追加するものとする。最後に成績判定の結果を表示してみよう。

In [ ]:
score2 = [80, 64, 85, 79, 52, 91, 82, 74, 85, 66, 73, 68, 80, 58, 78, 91]

----

# 演習問題8
以下のセルでは、都道府県の人口データをpandasのデータフレームに読み込んでいる。次の手順で分析してみよう。
- 男性人口率の列を追加する（男性人口率 = 人口（男）/ 人口（総数））
- 昭和5年の各都道府県のデータを抽出する
- 男性人口率を降順で並び替え
- 男性人口率上位5都道府県を表示する
- 男性人口率下位5頭道府県を表示する

In [ ]:
import pandas as pd

# ファイルの指定
# Google Colaboratoryの場合
file = "drive/My Drive/Colab Notebooks/dataset/都道府県別人口推移.xlsx"

# Anacondaの場合(Google Colaboratoryの場合は削除してください)
file = "dataset/都道府県別人口推移.xlsx"

# データの読み込み
df_population = pd.read_excel(file, sheet_name="Sheet1")

# 演習問題9
以下のセルでは、アパレルの販売データをpandasのデータフレームに読み込んでいる。ピボットテーブルを用いて、各社員の月ごとの売上金額の合計をクロス集計し、表示してみよう。結果を見て、月ごとにトップ成績の社員を挙げてみよう。

In [ ]:
import pandas as pd

# ファイルの指定
# Google Colaboratoryの場合
file = "drive/My Drive/Colab Notebooks/dataset/販売データ.xlsx"

# Anacondaの場合(Google Colaboratoryの場合は削除してください)
file = "dataset/販売データ.xlsx"

# データをpandasで読み込み
df_sale = pd.read_excel(file, sheet_name="実績管理表")

----

# 演習課題10
以下のセルでは、都道府県の人口データをpandasのデータフレームに読み込んでいる。2015年の人口（総数）上位5都道府県の人口（総数）の推移を折れ線グラフで可視化してみよう。グラフは`matplotlib`を使用するものとする。次の手順を参考にしよう。
- 2015年データを抽出した後、都道府県別人口（総数）で並び替えを行い、上位5都道府県を選ぶ
- 都道府県ごとに1920-2015年までのデータを抽出する
- データフレームの`西暦（年）`列と、`人口（総数）`列を用いて、折れ線グラフを作成
- グラフには`タイトル`、`xラベル`、`yラベル`、`凡例`、`補助線`を加える
- グラフの画像を`上位5都市人口推移.png`を出力し、確認する

In [ ]:
import pandas as pd

# ファイルの指定
# Google Colaboratoryの場合
file = "drive/My Drive/Colab Notebooks/dataset/都道府県別人口推移.xlsx"

# Anacondaの場合(Google Colaboratoryの場合は削除してください)
file = "dataset/都道府県別人口推移.xlsx"

# データの読み込み
df_population = pd.read_excel(file, sheet_name="Sheet1")